<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
    <!-- <link href="/css/create-overwrite.css" rel="stylesheet" type="text/css"> -->
</head>
<body class="container">

<%- include("../partials/header", { selectedTab: "overwrites" }); %>

<!-- Uses EJS var sourceData to render the provided source dynamically -->

<main>

    <div class="row">
        <form class="col s12" action="/sources/<%- sourceData.id %>/overwrites" method="POST">
            
            <div class="row">
                <div class="input-field col s12">
                    <select name="type">
                      <option value="parody">Parody</option>
                      <option value="spinoff">Spinoff</option>
                      <option value="kid-friendly">Kid-Friendly</option>
                      <option value="religion">Religion</option>
                      <option value="gender">Gender-Adjust</option>
                      <option value="other">Other Improvement</option>
                    </select>
                    <label>Reason for Overwrite</label>
                  </div>
            </div>

            
            <div class="row">
                <div class="input-field col s12">
                    <input id="title" name="title" value="<%- sourceData.title %>" type="text" class="">
                    <label for="title">Your New Title</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <textarea id="overwrite-text" name="text" class="materialize-textarea"><%- sourceData.text_plain %></textarea>
                    <label for="overwrite-text">Your New Text</label>
                </div>
            </div>
            
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>

        </form>
      </div>
 
</main>

<%- include("../partials/footer"); %>

</body>

<script type="text/javascript">

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');

    var options = {};
    var instances = M.FormSelect.init(elems, options);
});

</script>

</html>