<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
    <link href="/css/source.css" rel="stylesheet" type="text/css">
</head>
<body class="container">

<%- include("../partials/header", { selectedTab: sourceType }); %>

<!-- Uses EJS var sourceData and overwritesData to render the provided source and all overwrites dynamically -->

<main>
    <br>
    <div class="row">
        <div class="col s12">   
            <ul id="version-dropdown" class="dropdown-content">
                <li><a onclick="onSelectVersion(0)">Original<span class="new badge" data-badge-caption="overwrites"><%- overwritesData.length %></span></a></li>
                <% for (let i=0; i < overwritesData.length; i++) { %>
                    <li><a onclick="onSelectVersion(<%- overwritesData[i].id %>)"><%- overwritesData[i].title %> (<%- overwritesData[i].type %>)</a></li>
                <% } %>
            </ul>
            <a class="large btn dropdown-trigger waves-light orange darken-4" href="#!" data-target="version-dropdown">Select a version<i class="material-icons right">arrow_drop_down</i></a>        
    
            <!-- TODO: Handle action via JavaScript: POST /library/add?sourceId=12345 -->
            <a class="btn waves-effect waves-light teal hoverable"><i class="material-icons left">library_add</i>Add to Library</a>

            <!-- onclick="onOverwriteThis()" -->
            <!-- /overwrites/add?sourceId=<%- sourceData.id %> -->
            <a href="/sources/<%- sourceData.id %>/overwrites/add" class="btn waves-effect waves-light teal hoverable"><i class="material-icons left">edit</i>Overwrite this</a>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l8">
            <h3 id="title"><%- sourceData.title %></h3>
            <p>by <span id="author"><%- sourceData.author %></span></p>

            <p id="text"><%- sourceData.text_html %></p>
        </div>
    </div>

</main>

<%- include("../partials/footer"); %>

</body>

<script type="text/javascript">

// Passing sourceData from server-side to client-side JavaScript
var sourceDataJson = <%- JSON.stringify(sourceData) %>;
var sourceDataObject = eval(sourceDataJson);
console.log(sourceDataObject);

// Passing overwritesData from server-side to client-side JavaScript
var overwritesDataJson = <%- JSON.stringify(overwritesData) %>;
var overwritesDataArray = eval(overwritesDataJson);
console.log(overwritesDataArray);

// Remember the default selection: Original Version
let selectedVersion = 0;

document.addEventListener('DOMContentLoaded', function() {
    let elems = document.querySelectorAll('select');

    let options = {};
    let instances = M.FormSelect.init(elems, options);

    elems = document.querySelectorAll('.dropdown-trigger');
    instances = M.Dropdown.init(elems, options);
});

// @param versionId is 0 for the Original Version, otherwise the overwriteId
function onSelectVersion(versionId) {
    console.log("Version selected: " + versionId);

    //If different from selectedVersion, change title, author, and text
    if (versionId === selectedVersion) {
        console.log("No change to selected version");
    } else if (versionId === 0) {
        showOriginal();
    } else {
        showOverwrite(versionId);
    }
}

function showOverwrite(versionId) {
    console.log(overwritesDataArray);
    let selectedOverwrite = overwritesDataArray.find(o => {
        return o.id == versionId;
    });
    let titleNode = document.getElementById("title");
    titleNode.innerText = selectedOverwrite.title;

    let authorNode = document.getElementById("author");
    authorNode.innerText = selectedOverwrite.userName;

    let textNode = document.getElementById("text");
    textNode.innerHTML = selectedOverwrite.text_html;

    selectedVersion = versionId;
}

function showOriginal() {
    console.log(sourceDataObject);
    
    let titleNode = document.getElementById("title");
    titleNode.innerText = sourceDataObject.title;

    let authorNode = document.getElementById("author");
    authorNode.innerText = sourceDataObject.author;

    let textNode = document.getElementById("text");
    textNode.innerHTML = sourceDataObject.text_html;

    selectedVersion = 0;
}
</script>

</html>