<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head"); %>
    <link href="/css/source.css" rel="stylesheet" type="text/css">
</head>
<body class="container">

<%- include("../partials/header", { selectedTab: "sources" }); %>

<!-- Uses EJS var sourceData and overwritesData to render the provided source and all overwrites dynamically -->

<main>
    <br>
    <div class="row">
        <div class="input-field col s12 m12 l5">
            <select class="">
                <option value="original" selected>Original Version</option>
                <option value="98765">First Overwrite (Parody)</option>
                <option value="98765">Second Overwrite (Kid-Friendly)</option>
            </select>
            <label>Select a version of the text</label>
        </div>

        <div class="col s12 m12 l7">   
            <!-- TODO: Handle action via JavaScript: POST /library/add?sourceId=12345 -->
            <a class="btn waves-effect waves-light teal hoverable"><i class="material-icons left">library_add</i>Add to Library</a>

            <!-- onclick="onOverwriteThis()" -->
            <a href="/overwrites/add?sourceId=<%- sourceData.id %>" class="btn waves-effect waves-light teal hoverable"><i class="material-icons left">edit</i>Overwrite this</a>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l8">
            <h3><%- sourceData.title %></h3>
            <p>by <%- sourceData.author %></p>

            <p><%- sourceData.text_html %></p>
        </div>
    </div>

</main>

<%- include("../partials/footer"); %>

</body>

<script type="text/javascript">

document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');

    var options = {};
    var instances = M.FormSelect.init(elems, options);
});

</script>

</html>